@charset "utf-8";
body{
	background-color: #EEE;
}

a:hover,a:focus{
	text-decoration:none;
}

.vertical-center{
	padding-top: 100px;
	padding-bottom: 100px;
}

.panel-heading{
	color:#999;
}

.panel-body,.jumbotron{
	color:#999;
}

.list{
	padding: 5px;
	padding-left: 10px;
}

.inline{
	display:inline;
}
#flash_notice, #flash_error {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error {
    background-color: #FCC;
    border: solid 1px #C66;
}

.badge{
	background-color: #999;
	color:rgb(34,34,34);
}

.ninjaButton{
	background-color: rgb(238,238,238);
	border: none;
}